# Ignore bundler config.
api_bd/.bundle

# Ignore all environment files.
api_bd/.env*

# Ignore all logfiles and tempfiles.
api_bd/log/*
api_bd/tmp/*
!api_bd/log/.keep
!api_bd/tmp/.keep

# Ignore pidfiles, but keep the directory.
api_bd/tmp/pids/*
!api_bd/tmp/pids/
!api_bd/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
api_bd/storage/*
!api_bd/storage/.keep
api_bd/tmp/storage/*
!api_bd/tmp/storage/
!api_bd/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
api_bd/config/master.key

# macOS files
.DS_Store
Icon?

# Emacs files
*~
\#*#
/.#*

